<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:命名空间，主要用于statement分类管理唯一标识符
    注意:在mapper代理模式开发时，这个有另外的特殊作用
-->
<mapper namespace="com.hand.springcloud.dao.DeptDao">


    <select id="findById" resultType="com.hand.china.springcloud.entities.Dept" parameterType="Long">
        select department_id,department_code,department_name,manager_id,location_id
        from hand_departments where department_id=#{department_id};
    </select>
    <select id="findAll" resultType="com.hand.china.springcloud.entities.Dept">
        select department_id,department_code,department_name,manager_id,location_id
        from hand_departments;
    </select>
    <insert id="addDept" parameterType="com.hand.china.springcloud.entities.Dept">
        insert into hand_departments(department_id,department_code,department_name,manager_id,
                                     location_id)
        values(#{department_id},#{department_code},#{department_name},
               #{manager_id},#{location_id});
    </insert>

    <update id="UpdateDept" parameterType="com.hand.china.springcloud.entities.Dept">
        update hand_departments set
                department_id=#{department_id},department_code=#{department_code},
                department_name=#{department_name},manager_id=#{manager_id},
                location_id=#{location_id}
        where department_id=#{department_id};
    </update>
</mapper>